# dependencies
node_modules/

# production
dist/
.build/
.next/
out/

# testing
coverage/

# environment
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# system files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# build tools
package-lock.json
yarn.lock
